/* Replicate print layout. Crude, but works. */
html {
    margin:    0 auto;
    max-width: 885px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: 100;
    line-height: 1.15;
}
/* Preserve some space in the headers, decrease line heights. */
h1 {
  line-height: 0.5;
  font-style: oblique;
  font-size: 125%;
  margin-top: 30px;
}
h2 {
  font-size: 110%;
  margin-top: 15px;
/*  margin-bottom: 5px; */
}
h3 {
  line-height: 0.2;
  font-size: 110%;
  margin-top: 0px;
  text-decoration: underline;
  font-weight: normal;
}
p {
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 95%;
}
/* TODO: add comments explaining the settings everywhere. */
ul {
  margin-top: 0px;
}
li {
  font-size: 95%;
}
.heading{
  text-align: center;
}
.name {
  font-weight: bold;
}
.email {
  font-size: 90%;
}
.phone {
  font-size: 90%;
  font-style: italic;
}
.duration {
  font-style: italic;
  font-size: 80%;
  font-weight: 100;
}
.location, .note {
  font-size: 90%;
  font-weight: 100;
}
a {
  font-style: italic;
}
a:link {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.footer {
  text-align: center;
  font-style: italic;
  font-size: 80%;
  font-weight: lighter;
}
.highlights {
  margin-left: 10px;
}
.duration.right-adjusted{
  float: right;
}
